.home-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-left: 60px;
    margin-right: 60px;

} 
.exercises-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
.title{
    display: flex;
    margin-left: 40px;
    color: rgb(22, 98, 174);
}
.title img{
   width: 80px;
}

.card-container{
    background-color:lightblue ;
    text-align: center;
}
@media screen and (max-width:600px){
    .home-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        /* margin-left: 10px;
        margin-right: 10px; */
    } 
    .card-container{
        max-height: 100%;
    }
    .exercises-container{
        grid-template-columns: repeat(1,1fr);
        gap:20px;
    }  
    .title img{
        width: 65px;
     }
     h1{
        font-size: 25px;
     }
    .title{
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }
}